PORT=5001

APP_BASE_URL=

MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/?retryWrites=true&w=majority

OTP_VALIDITY_PERIOD_MINUTES=10
OTP_SIZE=6

BLOCK_KEYWORDS_RULES=tempmail
ALLOWED_DOMAINS=

GMAIL_USER=youraddress@gmail.com
GMAIL_PASS=your-16-char-app-password
